# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
tickTime=2000
dataDir=./zookeeper1/data
dataLogDir=./zookeeper1/logs
clientPort=2181
initLimit=5
syncLimit=2
observerMasterPort=2191
#reconfigEnabled=true
#集群通信端口：集群选举端口；客户端端口
server.1=localhost:2888:3888;2181
server.2=localhost:4888:5888;2181
server.3=localhost:6888:7888;2181


#server.A=B.:C:D
#A:表示一个数字，这个数字表示第几个服务器，配置在myid的文件
#B:服务器地址，也就是ip地址
#C:本台服务器与集群中的lender服务器交换信息端口
#D:万一leader挂了就需要这个端口重新选举
